{% extends 'inc/base.html' %}

{% block content %}

<form>
    <div class="red">
        No text
    </div>
    <div class="new-question-form form-group form-group-flex">
        <label class="col-2 form-label" for="questionHeader">Header:</label>
        <input class="form-control" id="questionHeader" placeholder="Question header">
    </div>
    <div class="new-question-form form-group form-group-flex">
        <label class="col-2 form-label" for="questionText">Text:</label>
        <textarea type="" class="form-control" id="questionText" placeholder="Question description" rows="3"></textarea>
        </div>
    <div class="new-question-form form-group form-group-flex">
        <label class="col-2 form-label" for="questionTags">Tags:</label>
        <input class="form-control" id="questionTags" placeholder="Tags">
    </div>

    <button type="submit" class="btn form-btn btn-primary">Create</button>
</form>

{% endblock %}

            