<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Technochan</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Technochan</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">New</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hot</a>
                    </li>
                </ul>
                <form class="d-flex search" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <div class="header-enter">
                <a href="login.html"><input class="btn btn-primary" type="button" value="Sign in"></a>
                <a href="signup.html"><input class="btn btn-primary" type="submit" value="Sign up"></a>
            </div>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">

    <div class="container">
        <div class="page-title">
            <h1>Page Title</h1>
        </div>
        <div class="row">
            <div class="col-8">
                


            </div>
            <div class="col-4 sidebar">
                <div class="sidebar-section">
                    <h3>Popular tags:</h3>
                    <div class="sidebar-tags">
                        <div class="tag"><a href="#">haha</a></div>
                        <div class="tag"><a href="#">kek</a></div>
                        <div class="tag"><a href="#">c++</a></div>
                        <div class="tag"><a href="#">python</a></div>
                        <div class="tag"><a href="#">golang</a></div>
                        <div class="tag"><a href="#">lol</a></div>
                        <div class="tag"><a href="#">nice</a></div>
                    </div>
                </div>
                <div class="sidebar-section">
                    <h3>Popular users:</h3>
                    <div class="sidebar-users">
                        <div class="user"><a href="#">stepapopov</a></div>
                        <div class="user"><a href="#">vasyapupkin</a></div>
                        <div class="user"><a href="#">petyavaskin</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        <span class="text-muted">Footer</span>
    </div>
</footer>

</body>
</html>
