{% extends 'inc/base.html' %}

{% block content %}

<form>
    <div class="red">
        Wrong login or password!
    </div>
    <div class="login-form form-group form-group-flex">
        <label class="col-4 form-label" for="userLogin">Login:</label>
        <input class="form-control" id="userLogin" placeholder="login">
    </div>
    <div class="login-form form-group form-group-flex">
        <label class="col-4 form-label" for="userPassword">Password:</label>
        <input type="password" class="form-control" id="userPassword" placeholder="password">
    </div>

    <button type="submit" class="btn form-btn btn-primary">Sign in</button>
</form>

{% endblock %}
