{% extends 'inc/base.html' %}

{% load static %}

{% block content %}

{% include 'inc/question_item.html' with page='question' %}

<form>
    <div class="form-group">
        <label for="answer">Your answer:</label>
        <textarea type="" class="form-control form-answer" id="answer" placeholder="Helpful answer" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary form-btn">Answer</button>
</form>

<h3>{{question.answers_num}} answer{% if question.answers_num != 1 %}s{% endif %}</h3>

{% for answer in answers %}
    {% include 'inc/answer_item.html' %}
{% endfor %}

{% include 'inc/paginator.html' %}

{% endblock %}

