{% extends 'inc/base.html' %}

{% load static %}

{% block content %}

{% include 'inc/question_item.html' with page='question' %}

{% if user.is_authenticated %}
<form class="new-answer" action="{% url "question" question.id %}" method="post">
    {% csrf_token %}

    <div class="form-group form-group-flex">
      <label class="question-form-label label-answer" for="questionText">New answer:</label>
      <textarea name="text" class="form-control question-form" id="questionText" placeholder="Answer him!!!" rows="3"></textarea> 
    </div>
    <button class="btn btn-primary">Answer</button>
  </form>
{% endif %}

<h3>{{question.answers.count}} answer{% if question.answers.count != 1 %}s{% endif %}</h3>

{% for answer in answers %}
    {% include 'inc/answer_item.html' %}
{% endfor %}

<!--Pagination block begin-->
{% with page_url="question_page" var=question.id not_first_page=answers.has_previous not_last_page=answers.has_next %}
    {% include "inc/paginator.html" %}
{% endwith %}
<!--Pagination block end-->

{% endblock %}

