{% extends 'inc/base.html' %}

{% block content %}

<form>
    <div class="red">
        Unvailable email!
    </div>
    <div class="signup-form form-group form-group-flex">
        <label class="col-4 form-label" for="userLogin">Login:</label>
        <input class="form-control" id="userLogin" placeholder="login">
    </div>
    <div class="signup-form form-group form-group-flex">
        <label class="col-4 form-label" for="userEmail">Email:</label>
        <input class="form-control" id="userEmail" placeholder="email">
    </div>
    <div class="signup-form form-group form-group-flex">
        <label class="col-4 form-label" for="userName">Name:</label>
        <input class="form-control" id="userName" placeholder="Name">
    </div>
    <div class="signup-form form-group form-group-flex">
        <label class="col-4 form-label" for="userPassword">Password:</label>
        <input type="password" class="form-control" id="userPassword" placeholder="password">
    </div>
    <div class="signup-form form-group form-group-flex">
        <label class="col-4 form-label" for="userPasswordAgain">Password again:</label>
        <input type="password" class="form-control" id="userPasswordAgain" placeholder="password">
    </div>
    <div class="signup-form form-group form-group-flex">
        <label class="col-4 form-label" for="avatar">Photo:</label>
        <input type="file" class="form-control" id="avatar">
    </div>

    <button type="submit" class="btn form-btn btn-primary">Sign up</button>
</form>

{% endblock %}
