{% load static %}
{% load mathfilters %}

<div class="answer">
    <div class="row">
        <div class="answer-user col-2">
            <div class="avatar">
                <a href="#"><img src="{% if answer.profile.avatar %}
                    {{answer.profile.avatar.url}}
                  {% else %}
                    {% static 'img/avatar-2.jpg' %}
                  {% endif %}" alt="" /></a>
            </div>
            <div class="user">
                <a href="#">{{ answer.profile.user.username }}</a>
            </div>
            <div class="btn btn-outline-danger like">❤️
                <h10>   {% if answer.rep > 1000 %} 
                            {{answer.rep|intdiv:1000}} k
                        {% else %}
                            {{answer.rep}}
                        {% endif %}
                </h10>
            </div>
        </div>
        <div class="col-10 row">
            <h2 class="question-title">{{ answer.title }}</h2>
            <div class="question-text">
                {{ answer.text }}
            </div>
            <div class="right-ans align-self-end">
                <input type="checkbox" class="form-check-label" id="rightAns">
                <label class="form-check-label" for="rightAns">Right answer</label>
            </div>
        </div>
    </div>
</div>
