{% load static %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href={% url 'index' %}>Technochan</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href={% url 'index' %}>New</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url 'hot' %}>Hot</a>
                </li>
                <li>
                    <a href={% url 'ask' %}><input class="btn btn-outline-success new-question-btn" type="button" value="Create new"></a>
                </li>
            </ul>
            <form class="d-flex search" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        {% if user.is_authenticated == True %}
        <div class="header-user">
            <div class="header-user-settings user"><a href="#">stepapopov</a></div>
            <div class="avatar-header header-user-avatar"><a href="#"><img src="{% static 'img/avatar-1.jpg'%}" alt=""></a></div>
        </div>
        {% else %}
        <div class="header-enter">
            <a href={% url 'login' %}><input class="btn btn-primary" type="button" value="Sign in"></a>
            <a href={% url 'signup' %}><input class="btn btn-primary" type="submit" value="Sign up"></a>
        </div>
        {% endif %}
    </div>
</nav>
